@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.App {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
}

.container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  height: 100%;
  margin-left: 20%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.tableContiner {
  height: 90%;
  overflow: auto;
  width: 100%;
}
.cookiesContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}

button.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.logo {
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
}
.header {
  font-family: 'Pangolin', cursive;
  margin-bottom: 24px;
  font-size: 18 px;
  font-weight: 600;
}

.alertText {
  font-family: 'Pangolin', cursive;
  font-size: 18 px;
  font-weight: 600;
}
button.accept,
.btn1 {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 160px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}
.btn1 {
  margin: 0px 5px;
  padding: 4px;
}
.topDiv {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.back {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 7px;
  font-size: 12px;
  color: white;
  margin: 10px;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

.name {
  width: 60%;
  margin: 8px 0px;
  border: 2px solid #ed6755;
  padding: 8px 8px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  text-align: center;
}

.row {
  width: 100%;
}

.card {
  height: 180px;
  max-width: 160px;
  margin: 0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.card:hover {
  opacity: 0.9;
}

.card-img {
  margin-top: 16px;
  padding: 30px;
}
img {
  max-width: 225px;
  height: auto;
}

.used-card {
  height: 120px;
  max-width: 120px;
  background-color: wheat;
}

.used-card-img {
  margin-top: 4px;
  padding: 8px;
}

.div {
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 5px;
}

button:hover {
  opacity: 0.9;
}
